.background {
  background-size: contain;
  background-position: center;
  height: 100vh;
  background-image: url(./assets/23626-Age-Of-Empires-IV-4k-Ultra-HD-Wallpaper.png);
  z-index: -1;
  width: 100%;
  overflow: hidden;
  }

  button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button:hover {
  background-color: #371d58;
  cursor: pointer;
}

button:focus {
  text-decoration: underline;
  outline: none;
}



  .nombre{
    position: absolute;
    top: 50%;
    left: 35%;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #CE5937, 0 0 30px #CE5937, 0 0 40px #CE5937, 0 0 55px #CE5937, 0 0 75px #CE5937, 2px 2px 2px rgba(206,89,55,0);
    color: #FFFFFF;
    font-weight: bold;
  }

  .boton1, .boton2, .boton3{
    position: absolute;
  }

  .boton1{
    left: 25%;
    top: 34%;
  }

  .boton2{
    left: 45%;
    top: 12%;
  }

  .boton3{
    right: 27%;
    top: 19%;
  }

  #closeBtn, #closeBtn2, #closeBtn3{
    display: none;
  }

  .close{
    color: white;
    position: absolute;
    right: 8.5%;
    top: 7.9%;
    z-index: 3;
    width: 30px;
    height: 30px;
    border-radius: 10px;
  }
  .close:hover{
    color: white;
    background-color: red;
  }

  .close:focus{
    outline: none;
  }

  .square, .square2, .square3 {
    position: absolute;
    z-index: 2;
  }
  .fondo1{
    background-image: url('./assets/spider-man-sobre-la-ciudad-11210.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    position: absolute;
    width: 85vw;
    height: 85vh;
    left: -107%;
    top: 7%;
  }

  .fondo2{
    position: absolute;
    width: 85vw;
    height: 85vh;
    left: -107%;
    top: 7%;
    border-radius: 20px;
    background-image: url('./assets/spider-man-sobre-la-ciudad-11210.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .fondo3{
    background-image: url('./assets/spider-man-sobre-la-ciudad-11210.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 85vw;
    height: 85vh;
    left: -107%;
    top: 7%;
    border-radius: 20px;
  }

  .coming-soon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  



  #blurElements {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .blur {
    filter: blur(5px);
  }




  .cuadrado{
    text-align: center;
  }

  
  .titulo {
    padding: 10px;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #CE5937, 0 0 30px #CE5937, 0 0 40px #CE5937, 0 0 55px #CE5937, 0 0 75px #CE5937, 2px 2px 2px rgba(206,89,55,0);
    color: #FFFFFF;
  }

  .subtitulo{
    margin-top: 10px;
    color: white;
    font-weight: bold;
  }
  
  .descripcion {
    color: white;
  }

  .social-icon{
    display: block;
    margin-bottom: 10px;
    padding-left: 3px;
    padding-top: 3px;
  }
  .social-icon img{
    width: 50px;
  }

  .g-background-default {
    background-color: transparent;
}

  #audio{
    position: absolute;
    bottom: 10px;
    right: 50px;
  }

  #carousel-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
  }

  .square-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
  }
  
  .square-item {
    height: 95%;
    width: 95%;
    margin: 10px;
  }

  .popup{
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }





  .arrow-right, 
  .arrow-left {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  
  .arrow-right-inner {
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #bcbbbb6a;
  }

  

  
  .arrow-left-inner {
    width: 0; 
    height: 0; 
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 25px solid #bcbbbb6a;
  }

.arrow-left:hover .arrow-left-inner {
  width: 0; 
  height: 0; 
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid white;
}

.arrow-right:hover .arrow-right-inner{
  width: 0; 
  height: 0; 
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid white;
}
  


  .previous, .next{
    z-index: 4;
    bottom: 45%;
    background-color: transparent;
    border: hidden;
  }

  .previous{
    font-weight: bold;
    position: absolute;
    left: -70px;

  }

  .next{
    position: absolute;
    right: -70px;
 
  }

  #carousel-img .square-carousel .popup h3.subtitulo.cuadrado {
    margin-top: 40px;
  }

  .datosP2{
    padding-left: 80px;
  }
  
.c3{
  padding-top: 100px;
}
  
  
@media only screen and (max-width: 768px) {
  .background {
    background-size: cover;
  }

  .moviles{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boton{
    flex-direction: row;
    justify-content: space-between;
  }

  .boton1,
  .boton2,
  .boton3{
    font-size: small;
    width: 100%;
    text-align: center;
    margin-bottom: 180px;
  }
  .boton1 {
    position: absolute;
    left: -8%;
    bottom: 36%;
  }

  .boton2 {
    position: absolute;
    left: -8%;
    top: 14%;
  }

  .boton3 {
    position: absolute;
    right: 8%;
    top: 25%;
  }

  .nombre{
    bottom: 0%;
    left: 8%;
  }

  /*square*/

  .cuadrado {
    width: 100%;
  }

  .header {
    font-size: 18px;
  }

  .descripcion {
    font-size: 12px;
  }

  .subtitulo {
    font-size: 16px;
  }

  .social-icon {
    position: absolute;
    width: 30px;
  }
  .float-left {
    text-align: center;
    margin-top: 20px;
  }
  #audio {
    display: none;

  }
}