@media only screen and (max-width: 600px) {
    #loading {
      align-items: center;
      justify-content:center;
    }
    .contenedor-loading {
      align-items: center;
    }
    .load {
      text-align: center;
      left: 0%;
      margin-right: 29%;
    }


    .loading-circle {
      margin: 10px;
    }
    .nombre {
      text-align: center;
      transform: translate(-70px, -40px);
    }
  }